force-app/main/default/flows/Application_received.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Application_Received_Email</name>
        <label>Send Application Received Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RecruitmentEmailService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>candidateEmail</name>
            <value>
                <elementReference>candidateEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>candidateName</name>
            <value>
                <elementReference>candidateNameFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>positionName</name>
            <value>
                <elementReference>get_job_position.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RecruitmentEmailService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>candidateEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Candidate_Email__c}</expression>
    </formulas>
    <formulas>
        <name>candidateNameFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Lead__r.FirstName} &amp; &quot; &quot; &amp; {!$Record.Lead__r.LastName}</expression>
    </formulas>
    <interviewLabel>Application received {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application received</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Link_Lead_to_Job_Application</targetReference>
        </connector>
        <inputAssignments>
            <field>Applied_Job_Position__c</field>
            <value>
                <elementReference>$Record.Job_Position__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CV_Link__c</field>
            <value>
                <elementReference>$Record.CV_Link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Education_Level__c</field>
            <value>
                <elementReference>$Record.Education_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Candidate_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivation_Letter_Link__c</field>
            <value>
                <elementReference>$Record.Motivation_Letter_Link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005g5000004ACVUAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skills__c</field>
            <value>
                <elementReference>$Record.Skills__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Application</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Years_of_Experience__c</field>
            <value>
                <elementReference>$Record.Years_of_Experience__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_job_position</name>
        <label>get job position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Application_Received_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job_Position__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Link_Lead_to_Job_Application</name>
        <label>Link Lead to Job Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_job_position</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Create_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
        <object>Job_Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
