force-app/main/default/flows/contract_signed_candidate_hired.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>All_Positions_Filled</name>
        <label>All Positions Filled?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yesFilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filledPositionsFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Job_Position__r.Open_Positions__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Remaining_Shortlisted_Candidates</targetReference>
            </connector>
            <label>yesFilled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Shortlisted_Candidates_Left</name>
        <label>Any Shortlisted Candidates Left?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes_left</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Remaining_Shortlisted_Candidates</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Remaining_Candidates_Not_Selected</targetReference>
            </connector>
            <label>yes left</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Related_Contract</name>
        <label>Has Related Contract?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Contract</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>filledPositionsFormula</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Job_Position__r.Filled_Positions__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>contract signed &amp; candidate hired {!$Flow.CurrentDateTime}</interviewLabel>
    <label>contract signed &amp; candidate hired</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Remaining_Shortlisted_Candidates</name>
        <label>Get Remaining Shortlisted Candidates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Shortlisted_Candidates_Left</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job_Position__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Selection_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shortlisted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Final_Applicant_Score__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Remaining_Candidates_Not_Selected</name>
        <label>Mark Remaining Candidates Not Selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job_Position__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Selection_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shortlisted</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Selection_Status__c</field>
            <value>
                <stringValue>Not Selected</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Filled_Positions</name>
        <label>Update Filled Positions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>All_Positions_Filled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job_Position__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Filled_Positions__c</field>
            <value>
                <elementReference>filledPositionsFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Position__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_as_Hired</name>
        <label>Update Opportunity as Hired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Related_Contract</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract_Signed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Status__c</field>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selection_Status__c</field>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Hired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Contract</name>
        <label>Update Related Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Filled_Positions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Candidate_Signed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSignedDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Position__c</field>
            <value>
                <elementReference>$Record.Job_Position__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Opportunity_as_Hired</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract_Signed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
