force-app/main/default/flows/Get_Candidate_Summary_For_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Append_Application_Block</name>
        <label>Append Application Block</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>applicationList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>applicationListFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Applications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Interview_Line</name>
        <label>Append Interview Line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>interviewList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>interviewLineFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Upcoming_Interview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_info</name>
        <label>Assign info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>candidateFullName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Candidate.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>candidateEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Candidate.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>candidateSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_no_candidate</name>
        <label>Assign no candidate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>candidateSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>o candidate was found with that name.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Build_Application_Block</name>
        <label>Build Application Block</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>applicationBlock</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>applicationBlockFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_Application_Block</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>nextInterviewDateAssignment</name>
        <label>nextInterviewAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nextInterviewDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_interviews.Interview_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextInterviewInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextInterviewInfoFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_interviews</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_upcoming_interview_msg</name>
        <label>No upcoming interview msg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nextInterviewInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No upcoming interviews scheduled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_interviews</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Application_List</name>
        <label>Reset Application List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>applicationList</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Applications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_temp_Text</name>
        <label>Reset temp Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>applicationBlock</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>interviewList</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Interviews_for_each_application</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Candidate_found</name>
        <label>Candidate found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_no_candidate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_application</targetReference>
            </connector>
            <label>Candidate Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Upcoming_Interview</name>
        <label>Is Upcoming Interview?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_interviews</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_interviews.Interview_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>nextInterviewDateAssignment</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>applicationBlockFormula</name>
        <dataType>String</dataType>
        <expression>&quot;- &quot; &amp;
{!Loop_Applications.Name} &amp;
&quot; — &quot; &amp;
TEXT({!Loop_Applications.StageName}) &amp;
BR() &amp;
&quot;Interviews:&quot; &amp;
BR() &amp;
{!interviewList} &amp;
BR()</expression>
    </formulas>
    <formulas>
        <name>applicationListFormula</name>
        <dataType>String</dataType>
        <expression>{!applicationList} &amp;
{!applicationBlock} &amp;
BR()</expression>
    </formulas>
    <formulas>
        <name>interviewLineFormula</name>
        <dataType>String</dataType>
        <expression>{!interviewList} &amp;
&quot;- &quot; &amp;
{!Loop_interviews.Name} &amp;
&quot; — &quot; &amp;
TEXT({!Loop_interviews.Interview_Date__c}) &amp;
BR()</expression>
    </formulas>
    <formulas>
        <name>nextInterviewInfoFormula</name>
        <dataType>String</dataType>
        <expression>TEXT({!Loop_interviews.Interview_Type__c}) &amp;
&quot; for &quot; &amp;
{!Loop_Applications.Name} &amp;
&quot; on &quot; &amp;
TEXT(DATEVALUE({!Loop_interviews.Interview_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>noCandidateSummary</name>
        <dataType>String</dataType>
        <expression>&quot;No candidate was found with that name.&quot;</expression>
    </formulas>
    <formulas>
        <name>Summary</name>
        <dataType>String</dataType>
        <expression>&quot;Candidate Summary:&quot; &amp; BR() &amp;
&quot;Name: &quot; &amp; {!Get_Candidate.Name} &amp; BR() &amp;
&quot;Email: &quot; &amp; {!Get_Candidate.Email} &amp; BR() &amp; BR() &amp;
&quot;Next Interview:&quot; &amp; BR() &amp;
{!nextInterviewInfo} &amp; BR() &amp; BR() &amp;
&quot;Applications:&quot; &amp; BR() &amp;
{!applicationList}</expression>
    </formulas>
    <interviewLabel>Get_Candidate_Summary_For_Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get_Candidate_Summary_For_Agent</label>
    <loops>
        <name>Loop_Applications</name>
        <label>Loop Applications</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_application</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_temp_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_interviews</name>
        <label>Loop interviews</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Interviews_for_each_application</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_Interview_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Build_Application_Block</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_application</name>
        <label>Get application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Application_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Candidate_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>candidateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Interviews_for_each_application</name>
        <label>Get Interviews for each application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_upcoming_interview_msg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Applications.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Interview__c</object>
        <sortField>Interview_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>applicationBlock</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>applicationList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>candidateEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>candidateFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>candidateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>candidatePosition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>candidateStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>candidateSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>interviewList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextInterviewDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextInterviewInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
