force-app/main/default/flows/Get_Application_Status_For_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Append_Application_Block</name>
        <label>Append Application Block</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>applicationList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>applicationBlockFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Applications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Info</name>
        <label>Assign Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>applicationSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicationSummaryFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Build_Application_Block</name>
        <label>Build Application Block</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>applicationBlock</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicationStageBlockFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_Application_Block</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Application_List</name>
        <label>Reset Application List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>applicationList</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Applications</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>applicationBlockFormula</name>
        <dataType>String</dataType>
        <expression>{!applicationList} &amp; {!applicationBlock}</expression>
    </formulas>
    <formulas>
        <name>ApplicationStageBlockFormula</name>
        <dataType>String</dataType>
        <expression>&quot;- &quot; &amp;
{!Loop_Applications.Name} &amp;
&quot; — &quot; &amp;
TEXT({!Loop_Applications.StageName}) &amp;
BR()</expression>
    </formulas>
    <formulas>
        <name>ApplicationSummaryFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Application Status Summary:&quot; &amp; BR() &amp;
&quot;Candidate: &quot; &amp; {!Get_Candidate.Name} &amp; BR() &amp; BR() &amp;
&quot;Applications:&quot; &amp; BR() &amp;
{!applicationList}</expression>
    </formulas>
    <interviewLabel>Get_Application_Status_For_Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get_Application_Status_For_Agent</label>
    <loops>
        <name>Loop_Applications</name>
        <label>Loop Applications</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_applications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Application_Block</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_applications</name>
        <label>Get applications</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Application_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>candidateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>applicationBlock</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>applicationList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>applicationPosition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>applicationStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>applicationSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>candidateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
