force-app/main/default/flows/interview_Tech_event_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Interview_Assigned</name>
        <label>New Interview Assigned</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Get_New_Tech_Interview</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0MLg5000000UHufGAG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Interview Assigned</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>A new interview has been assigned to you for {!$Record.Name}.{!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Create_Tech_Interview.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_interview_recipient</name>
        <label>Add interview recipient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_interviewer_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Interview_Assigned</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>HR_Interview_Result_Good</name>
        <label>HR Interview Result Good?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Candidate_opportunity_change_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Didn&apos;t pass</defaultConnectorLabel>
        <rules>
            <name>Passed_HR_Interview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recommend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Interview_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Candidate_Withdrawn__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_Show__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Tech_Interview</targetReference>
            </connector>
            <label>Passed HR Interview</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tech_Interview_Already_Exists</name>
        <label>Tech Interview Already Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Tech_Interview</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Tech_Interview.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>HR_nd</name>
        <dataType>DateTime</dataType>
        <expression>{!HR_Start} + (30/1440)</expression>
    </formulas>
    <formulas>
        <name>HR_Start</name>
        <dataType>DateTime</dataType>
        <expression>$Flow.CurrentDateTime + 2</expression>
    </formulas>
    <formulas>
        <name>MGR_end</name>
        <dataType>DateTime</dataType>
        <expression>{!MGR_start}+(45/1440)</expression>
    </formulas>
    <formulas>
        <name>MGR_start</name>
        <dataType>DateTime</dataType>
        <expression>$Flow.CurrentDateTime + 5</expression>
    </formulas>
    <formulas>
        <name>Tech_End</name>
        <dataType>DateTime</dataType>
        <expression>{!Tech_start} + (60/1440)</expression>
    </formulas>
    <formulas>
        <name>Tech_start</name>
        <dataType>DateTime</dataType>
        <expression>$Flow.CurrentDateTime + 3</expression>
    </formulas>
    <interviewLabel>interview_Tech_event_Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>interview_Tech_event_Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_tech_Event</name>
        <label>Create Tech Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>Tech_End</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview__c</field>
            <value>
                <elementReference>Get_New_Tech_Interview.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_interviewer_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Tech_start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Tech Interview</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Candidate_Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Tech_Interview</name>
        <label>Create Tech Interview</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_interviewer_User</targetReference>
        </connector>
        <inputAssignments>
            <field>Interview_Date__c</field>
            <value>
                <elementReference>Tech_start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview_Type__c</field>
            <value>
                <stringValue>Technical Interview</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interviewer__c</field>
            <value>
                <elementReference>$Record.Interviewer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidate_Account</name>
        <label>Get Candidate Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_tech_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate_Opportunity.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Candidate_Opportunity</name>
        <label>Get Candidate Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Candidate_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Candidate_opportunity_change_stage</name>
        <label>Get Candidate opportunity change stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Tech_Interview</name>
        <label>Get Existing Tech Interview</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interview_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Interview</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_interviewer_User</name>
        <label>Get interviewer User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_interview_recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Maria Salam</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Tech_Interview</name>
        <label>Get New Tech Interview</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Candidate_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interview_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Interview</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Interview__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_stage_HR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_stage</name>
        <label>Change stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate_opportunity_change_stage.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Decision_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Decision__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer_Approval_Status__c</field>
            <value>
                <stringValue>Not Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Change_stage_HR</name>
        <label>Change stage HR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tech_Interview_Already_Exists</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Manager Interview</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HR_Interview_Result_Good</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Interview_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HR Interview</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recommendation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Interview_Score__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Interview__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
