force-app/main/default/flows/interview_manager_event_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Manager_Interview_Already_Exists</name>
        <label>Manager Interview Already Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_interviewer_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Manager_Interview.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tech_Interview_Result_Good</name>
        <label>Tech Interview Result Good?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Didn&apos;t pass</defaultConnectorLabel>
        <rules>
            <name>Passed_tech_Interview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recommend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Interview_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Manager_Interview</targetReference>
            </connector>
            <label>Passed Tech Interview</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>HR_nd</name>
        <dataType>DateTime</dataType>
        <expression>{!HR_Start} + (30/1440)</expression>
    </formulas>
    <formulas>
        <name>HR_Start</name>
        <dataType>DateTime</dataType>
        <expression>$Flow.CurrentDateTime + 2</expression>
    </formulas>
    <formulas>
        <name>MGR_end</name>
        <dataType>DateTime</dataType>
        <expression>{!MGR_start}+(45/1440)</expression>
    </formulas>
    <formulas>
        <name>MGR_start</name>
        <dataType>DateTime</dataType>
        <expression>$Flow.CurrentDateTime + 5</expression>
    </formulas>
    <formulas>
        <name>Tech_End</name>
        <dataType>DateTime</dataType>
        <expression>{!Tech_start} + (60/1440)</expression>
    </formulas>
    <formulas>
        <name>Tech_start</name>
        <dataType>DateTime</dataType>
        <expression>$Flow.CurrentDateTime + 3</expression>
    </formulas>
    <interviewLabel>interview manager event creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>interview manager event creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Manager_Event</name>
        <label>Create Manager Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>MGR_end</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview__c</field>
            <value>
                <elementReference>Get_New_Manager_Interview.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_interviewer_user.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>MGR_start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Manager Interview</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Candidate_Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Manager_Interview</name>
        <label>Create Manager Interview</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>change_stage</targetReference>
        </connector>
        <inputAssignments>
            <field>Interview_Date__c</field>
            <value>
                <elementReference>MGR_start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview_Type__c</field>
            <value>
                <stringValue>Manager Interview</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interviewer__c</field>
            <value>
                <elementReference>$Record.Interviewer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidate_Account</name>
        <label>Get Candidate Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Manager_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate_Opportunity.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Candidate_Opportunity</name>
        <label>Get Candidate Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Candidate_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Manager_Interview</name>
        <label>Get Existing Manager Interview</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manager_Interview_Already_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interview_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manager Interview</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_interviewer_user</name>
        <label>Get interviewer user</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Manager_Interview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Maria Salam</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Manager_Interview</name>
        <label>Get New Manager Interview</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Candidate_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interview_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manager Interview</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Interview__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>change_stage</name>
        <label>change stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_New_Manager_Interview</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Offer Approval</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tech_Interview_Result_Good</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Interview_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Interview</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recommendation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Interview_Score__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Interview__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
