force-app/main/default/flows/Validate_Stage_Weights_On_Activation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Weight</name>
        <label>Add Weight</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>totalWeight</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Stages.Stage_Weight__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Stages</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Block_Activation</name>
        <label>Block Activation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage
      >Cannot activate this Job Position: the sum of all Interview Stage weights must equal 100%. Current total is {!totalWeight}%.</errorMessage>
            <fieldSelection>Status__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Total_Weight</name>
        <label>Check Total Weight</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Block_Activation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Weight Not 100</defaultConnectorLabel>
        <rules>
            <name>Weight_Is_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalWeight</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <label>Weight Equals 100</label>
        </rules>
    </decisions>
    <description
  >Before a Job Position is activated (Status set to Open), validates that the sum of all Interview Stage weights equals 100. Blocks the save if the total differs.</description>
    <interviewLabel
  >Validate Stage Weights On Activation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validate Stage Weights On Activation</label>
    <loops>
        <name>Loop_Stages</name>
        <label>Loop Stages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>stages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Weight</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Total_Weight</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Interview_Stages</name>
        <label>Get Interview Stages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Stages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Interview_Stage__c</object>
        <outputReference>stages</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stage_Weight__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Interview_Stages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Job_Position__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>stages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interview_Stage__c</objectType>
    </variables>
    <variables>
        <name>totalWeight</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
